.container {
  display: flex;
  flex-direction: row;
} 

.card {
  width: 150px;
  height: 250px;
  border: 4px solid gray;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 5px;
  cursor: grab;
  border-radius: 5px;
  background: white;
}